a[onclick*="setActiveSampleSet.view"] {display: none;}
a[onclick*="editDomain.view"] {display: none;}
a[href*="showUpdateMaterialSource.view"] {display: none;}
a[href*="deleteMaterialSource.view"] {display: none;}
/* a[href*="showUploadMaterials.view"] {display: none;} */
