<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="moduleBean" class="org.labkey.api.module.SimpleModule">
        <property name="name" value="SGI_DNA_pipeline"/>
        <property name="version" value="1.03"/>
        <property name="requiredServerVersion" value="0.0"/>
        <property name="moduleDependencies" value=""/>

        <property name="label" value=""/>
        <property name="description">
          <value><![CDATA[]]></value>
        </property>
        <property name="url" value=""/>
        <property name="author">
          <value><![CDATA[]]></value>
        </property>
        <property name="maintainer">
          <value><![CDATA[]]></value>
        </property>
        <property name="organization" value=""/>
        <property name="organizationUrl" value=""/>
        <property name="license" value=""/>
        <property name="licenseUrl" value=""/>

        <property name="vcsRevision" value=""/>
        <property name="vcsUrl" value=""/>
        <property name="buildUser" value=""/>
        <property name="buildTime" value=""/>
        <property name="buildOS" value="Windows 8.1"/>
        <property name="buildPath" value=""/>
        <property name="buildType" value="Production"/>
        <property name="sourcePath" value=""/>
        <property name="supportedDatabases" value=""/>
        <property name="resourcePath" value=""/>
        <property name="buildNumber" value=""/>
        <property name="enlistmentId" value=""/>
        <property name="consolidateScripts" value=""/>
        <property name="manageVersion" value=""/>
    </bean>
</beans>
